---
import Layout from '../layouts/Layout.astro';
import HeroSlider from '../components/HeroSlider.astro';
import LuxuryExperience from '../components/LuxuryExperience.astro';
import PhoenixExperience from '../components/PhoenixExperience.astro';
import LatestOffers from '../components/LatestOffers.astro';
import ExploreGallery from '../components/ExploreGallery.astro';
import WallOfFame from '../components/WallOfFame.astro';
import Entertainment from '../components/Entertainment.astro';
import Packages from '../components/Packages.astro';
---

<Layout title="Phoenix Casino Goa - Luxury Gaming & Entertainment">
	<main>
		<HeroSlider />
		<LuxuryExperience />
		<PhoenixExperience />
		<LatestOffers />
		<ExploreGallery />
		<WallOfFame />
		<Entertainment />
		<Packages />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		margin: 0;
		padding: 0;
	}
</style>
